cache
types/*.json
!types/mojang-*.json
!types/package.json
!types/tsconfig.json
node_modules
behavior_pack/scripts
behavior_pack/typings
behavior_pack/*.log
package-lock.json
generated/mojang-net.txt
generated/DEBUG.mojang-net.txt